flows.json
[
    {
        "id": "d94c530613249929",
        "type": "tab",
        "label": "Aquaponic System",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5577d85b372ffdb4",
        "type": "mqtt-broker",
        "name": "UiTM Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9c795d9b0e5871b3",
        "type": "ui_group",
        "name": " ",
        "tab": "317eea5d366dfe3a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8714aa9179f421e4",
        "type": "ui_group",
        "name": "",
        "tab": "317eea5d366dfe3a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7e117e9ee5c46f95",
        "type": "ui_group",
        "name": "",
        "tab": "317eea5d366dfe3a",
        "order": 4,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": "<font size = 5>"
    },
    {
        "id": "84630482ad54c108",
        "type": "ui_group",
        "name": "< PROJECT > ",
        "tab": "317eea5d366dfe3a",
        "order": 1,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "87fa27bea9193cde",
        "type": "ui_group",
        "name": "< Collabration >",
        "tab": "317eea5d366dfe3a",
        "order": 5,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "317eea5d366dfe3a",
        "type": "ui_tab",
        "name": "Aquarium",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8e2955542dd8bc2d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2129ee2e309162ba",
        "type": "mqtt in",
        "z": "d94c530613249929",
        "name": "",
        "topic": "arduino",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5577d85b372ffdb4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 160,
        "wires": [
            [
                "18b19e1f459513c8",
                "69613634b1cb5935",
                "b7e0bab688bc2dbe",
                "5146df06ee77b6a1",
                "26ce337a563a9389"
            ]
        ]
    },
    {
        "id": "18b19e1f459513c8",
        "type": "change",
        "z": "d94c530613249929",
        "name": "Water Level",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"Water Level Percentage\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "ba2149c1a9f8e291",
                "228f79c6dd711eb4",
                "27d4926dd4034799",
                "291983c74a9f5c95"
            ]
        ]
    },
    {
        "id": "69613634b1cb5935",
        "type": "debug",
        "z": "d94c530613249929",
        "name": "Json Object From Esp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 80,
        "wires": []
    },
    {
        "id": "ba2149c1a9f8e291",
        "type": "debug",
        "z": "d94c530613249929",
        "name": "Water Level",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "b7e0bab688bc2dbe",
        "type": "change",
        "z": "d94c530613249929",
        "name": "tds Value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"tds Value\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 240,
        "wires": [
            [
                "0948c295e409c7cd",
                "6c75ef4a1a6fd0f0"
            ]
        ]
    },
    {
        "id": "5146df06ee77b6a1",
        "type": "change",
        "z": "d94c530613249929",
        "name": "Ph value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"Ph Value\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 320,
        "wires": [
            [
                "a74fa84fa0dc0497",
                "7abc7bb302490f38"
            ]
        ]
    },
    {
        "id": "26ce337a563a9389",
        "type": "change",
        "z": "d94c530613249929",
        "name": "Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"Temperature Value\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 480,
        "wires": [
            [
                "a6f80c83f8fcd7b5",
                "54032f72462f35ca",
                "3f0a1617475d64c0"
            ]
        ]
    },
    {
        "id": "0948c295e409c7cd",
        "type": "debug",
        "z": "d94c530613249929",
        "name": "tds Value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "a6f80c83f8fcd7b5",
        "type": "debug",
        "z": "d94c530613249929",
        "name": "Temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 540,
        "wires": []
    },
    {
        "id": "cd994c9014aa73fa",
        "type": "ui_gauge",
        "z": "d94c530613249929",
        "name": "PH VALUE",
        "group": "9c795d9b0e5871b3",
        "order": 2,
        "width": 6,
        "height": "8",
        "gtype": "gage",
        "title": "<font size = 5> PH VALUE",
        "label": "units",
        "format": "{{value|number:2}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#3abacb"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 340,
        "wires": []
    },
    {
        "id": "54032f72462f35ca",
        "type": "ui_gauge",
        "z": "d94c530613249929",
        "name": "TEMPERATURE",
        "group": "8714aa9179f421e4",
        "order": 2,
        "width": 6,
        "height": "8",
        "gtype": "donut",
        "title": "<font size = 5> TEMPERATURE",
        "label": "C",
        "format": "{{value|number:2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 590,
        "y": 500,
        "wires": []
    },
    {
        "id": "b22cf484afac0353",
        "type": "ui_switch",
        "z": "d94c530613249929",
        "name": "PUMP",
        "label": "<font size = 5> PUMP",
        "tooltip": "",
        "group": "7e117e9ee5c46f95",
        "order": 2,
        "width": 13,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "5",
        "onvalueType": "str",
        "onicon": "fa-3x fa-power-off ",
        "oncolor": "#EE6983",
        "offvalue": "4",
        "offvalueType": "str",
        "officon": "fa-3x fa-power-off ",
        "offcolor": "grey",
        "animate": false,
        "className": "",
        "x": 1070,
        "y": 60,
        "wires": [
            [
                "be1ac5a91207ae4b"
            ]
        ]
    },
    {
        "id": "44ba3d0bd3c6c130",
        "type": "ui_switch",
        "z": "d94c530613249929",
        "name": "AUTO FEEDER",
        "label": "<font size = 5>AUTO FEEDER",
        "tooltip": "",
        "group": "7e117e9ee5c46f95",
        "order": 1,
        "width": 13,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "fa-3x fa-lightbulb-o",
        "oncolor": "#FFDE00",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "fa-3x fa-lightbulb-o",
        "offcolor": "grey",
        "animate": false,
        "className": "",
        "x": 1320,
        "y": 420,
        "wires": [
            [
                "be1ac5a91207ae4b"
            ]
        ]
    },
    {
        "id": "d7df2897e47d881f",
        "type": "ui_switch",
        "z": "d94c530613249929",
        "name": "HEATER",
        "label": "<font size = 5>HEATER",
        "tooltip": "",
        "group": "7e117e9ee5c46f95",
        "order": 3,
        "width": 13,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "7",
        "onvalueType": "str",
        "onicon": "fa-3x fa-toggle-on ",
        "oncolor": "#7DCE13",
        "offvalue": "6",
        "offvalueType": "str",
        "officon": "fa-3x fa-toggle-off",
        "offcolor": "grey",
        "animate": false,
        "className": "",
        "x": 1500,
        "y": 540,
        "wires": [
            [
                "be1ac5a91207ae4b"
            ]
        ]
    },
    {
        "id": "be1ac5a91207ae4b",
        "type": "mqtt out",
        "z": "d94c530613249929",
        "name": "",
        "topic": "inTopic",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5577d85b372ffdb4",
        "x": 1760,
        "y": 300,
        "wires": []
    },
    {
        "id": "96ba1e14c691cda3",
        "type": "function",
        "z": "d94c530613249929",
        "name": "HEATER OFF",
        "func": "msg.payload=\"6\"; //heater will 0ff \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 580,
        "wires": [
            [
                "d7df2897e47d881f"
            ]
        ]
    },
    {
        "id": "3f0a1617475d64c0",
        "type": "switch",
        "z": "d94c530613249929",
        "name": ">=30",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "30",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 580,
        "wires": [
            [
                "96ba1e14c691cda3"
            ]
        ]
    },
    {
        "id": "8e26d8b33970da6f",
        "type": "function",
        "z": "d94c530613249929",
        "name": "PUMP OFF",
        "func": "msg.payload=\"4\"; //heater will 0ff \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 60,
        "wires": [
            [
                "b22cf484afac0353"
            ]
        ]
    },
    {
        "id": "228f79c6dd711eb4",
        "type": "switch",
        "z": "d94c530613249929",
        "name": ">=90",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "90",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 60,
        "wires": [
            [
                "8e26d8b33970da6f"
            ]
        ]
    },
    {
        "id": "27d4926dd4034799",
        "type": "switch",
        "z": "d94c530613249929",
        "name": "<= 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 100,
        "wires": [
            [
                "56b38faa144d5e07"
            ]
        ]
    },
    {
        "id": "95fa160db1db5ddb",
        "type": "comment",
        "z": "d94c530613249929",
        "name": "NodeRed Publish signal to esp depends on the time set on the arduino ",
        "info": "",
        "x": 1710,
        "y": 40,
        "wires": []
    },
    {
        "id": "4dcbbb6e661c9051",
        "type": "comment",
        "z": "d94c530613249929",
        "name": "sbb dia adalah hanya reaction based on the data given which is 1 sec",
        "info": "",
        "x": 1690,
        "y": 80,
        "wires": []
    },
    {
        "id": "be3395cd28bbe3f7",
        "type": "ui_template",
        "z": "d94c530613249929",
        "group": "",
        "name": "Node-Red Dashboard Custom CSS",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /*Main background*/\n    body {\n        background-image:url(\"https://images.template.net/wp-content/uploads/2014/12/Colorful-Aquarium-Background.jpg\");\n        background-repeat: no-repeat; /* Do not repeat the image */\n        background-size: cover;\n        //background: -webkit-linear-gradient(180deg,\n          //      #009785 25%,\n            //    #245aa5 50%,\n              //  #b800e9 100%);\n    }\n\n    /*Top bar*/\n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-content md-card {\n        background-color: transparent !important;\n        color: #ffffff !important;\n    }\n\n\n    /*Left menu*/\n    /*Sidebar*/\n    body.nr-dashboard-theme md-sidenav {\n        color: white !important;\n        background-color: rgba(0, 0, 0, 0) !important;\n    }\n\n    /*Hover selection*/\n    a.md-no-style,\n    button.md-no-style {\n        border-radius: 10px !important;\n    }\n\n    /*Selected*/\n    .nr-menu-item-active div button {\n        border-right: 4px solid rgb(255 255 253) !important;\n    }\n\n    /*List*/\n    body.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n        color: white !important;\n        background-color: rgba(40, 85, 165, 1) !important;\n        border-radius: 10px !important;\n    }\n\n\n    /*Groups*/\n    ui-card-panel {\n        background-color: rgba(0, 0, 0, 0.8) !important;\n        border-radius: 5px !important;\n    }\n\n    .nr-dashboard-theme ui-card-panel {\n        border: 3px solid white !important;\n    }\n\n    /*Name groups*/\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n        color: rgba(242, 227, 210, 1) !important;\n    }\n\n\n    /*Bouttons*/\n    .nr-dashboard-theme .nr-dashboard-button .md-button {\n        background-color: rgba(255, 255, 255, 1) !important;\n    }\n\n    .md-button {\n        border-radius: 10px !important;\n    }\n\n\n    /*Dropdown menu*/\n    .nr-dashboard-theme md-select-menu {\n        background-color: rgba(40, 85, 165, 1) !important;\n    }\n\n    .nr-dashboard-theme md-select-menu,\n    .nr-dashboard-theme md-select-menu md-option {\n        background-color: transparent !important;\n    }\n\n    .nr-dashboard-theme .md-select-menu-container {\n        border-radius: 10px !important;\n        border: none !important;\n    }\n\n    .nr-dashboard-theme md-select-menu md-option[selected] {\n        color: white !important;\n        background-color: #1a3566 !important;\n    }\n\n    /*Template*/\n    md-card>img,\n    md-card>md-card-header img,\n    md-card md-card-title-media img {\n        border-radius: 10px !important;\n    }\n\n    /* Color picker text BG */\n    .nr-dashboard-theme .color-picker-input-wrapper>input {\n        color: white !important;\n        background-color: transperant !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 1860,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "85712c6febce5ddc",
        "type": "ui_template",
        "z": "d94c530613249929",
        "group": "8714aa9179f421e4",
        "name": "top bar",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .md-toolbar-tools {\n        background-image: url('https://wallpaperaccess.com/full/396545.jpg');\n        background-repeat: no-repeat;\n        background-size: cover;\n    }\n\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 2080,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "56b38faa144d5e07",
        "type": "function",
        "z": "d94c530613249929",
        "name": "PUMP ON",
        "func": "msg.payload=\"5\"; //heater will on \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 100,
        "wires": [
            [
                "b22cf484afac0353"
            ]
        ]
    },
    {
        "id": "a74fa84fa0dc0497",
        "type": "debug",
        "z": "d94c530613249929",
        "name": "Ph Value ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 440,
        "wires": []
    },
    {
        "id": "7abc7bb302490f38",
        "type": "function",
        "z": "d94c530613249929",
        "name": "Calibration",
        "func": "msg.payload = msg.payload - 1;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 340,
        "wires": [
            [
                "cd994c9014aa73fa"
            ]
        ]
    },
    {
        "id": "6c75ef4a1a6fd0f0",
        "type": "ui_gauge",
        "z": "d94c530613249929",
        "name": "TDS VALUE",
        "group": "9c795d9b0e5871b3",
        "order": 1,
        "width": 6,
        "height": "9",
        "gtype": "compass",
        "title": "<font size = 5> TDS VALUE",
        "label": "ppm",
        "format": "{{value|number:2}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "291983c74a9f5c95",
        "type": "ui_gauge",
        "z": "d94c530613249929",
        "name": "WATER LEVEL",
        "group": "8714aa9179f421e4",
        "order": 1,
        "width": 6,
        "height": "9",
        "gtype": "wave",
        "title": "<font size = 5> WATER LEVEL",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 660,
        "y": 140,
        "wires": []
    },
    {
        "id": "2c4fd224ca40959c",
        "type": "ui_switch",
        "z": "d94c530613249929",
        "name": "PLANT LIGHT",
        "label": "<font size = 5> PLANT LIGHT",
        "tooltip": "",
        "group": "7e117e9ee5c46f95",
        "order": 2,
        "width": 13,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "3",
        "onvalueType": "num",
        "onicon": "fa-3x fa-cutlery",
        "oncolor": "#9575CD",
        "offvalue": "2",
        "offvalueType": "num",
        "officon": "fa-3x fa-cutlery",
        "offcolor": "grey",
        "animate": false,
        "className": "",
        "x": 1360,
        "y": 280,
        "wires": [
            [
                "be1ac5a91207ae4b"
            ]
        ]
    },
    {
        "id": "43324a36be41e183",
        "type": "comment",
        "z": "d94c530613249929",
        "name": "add features",
        "info": "",
        "x": 270,
        "y": 40,
        "wires": []
    }
]